@font-face {
    font-family: 'PlusJakartaSans-Regular';
    src: url('../fonts/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_28pt-Regular';
    src: url('../fonts/Inter_28pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans-SemiBold';
    src: url('../fonts/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_28pt-SemiBold';
    src: url('../fonts/Inter_28pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal; 
}


@font-face {
    font-family: 'PlusJakartaSans-Bold';
    src: url('../fonts/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter_18pt-Bold';
    src: url('../fonts/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans-ExtraBold';
    src: url('../fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-ExtraBold';
    src: url('../fonts/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body,
p {
    font-family: 'PlusJakartaSans-Regular';
    margin: 0px;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

button,
a {
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease, transform 0.3s ease;
}


button:hover,
a:hover {
    transform: scale(1.05);
}

body {
    overflow-x: hidden;
}


#iziToastWrapper {
    z-index: 999999999999999999999999999999 !important;
    /* highest safe browser z-index */
}