.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: var(--color-three);
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-body {
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999999999999999;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  overflow-y: auto;
  overflow-x: hidden;
}

.overlay-animate {
  animation: fadeIn 0.5s;
}

#otp-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999999;
  overflow-y: scroll;
  overflow-x: hidden;

}
.otp-container {
  padding: 0 40px;
}
.otp-box {
  width: 100%;
  max-width: 400px;
  padding: 25px 30px;
  padding-top: 0;
  border-radius: 10px;
  position: relative;
  text-align: center;
  animation: slideDown 0.3s ease;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  border-radius: 12px;
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.otp-close-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  border: none;
  background: none;
}

.otp-inputs {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 20px 0;
}


.otp-input {
  width: 45px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ddd;
  border-radius: 8px;
}

.otp-input:focus {
  border-color: #007bff;
  outline: none;
}

.otp-submit-btn {
  background-color: var(--color-two);
  border: none;
  height: 46px;
  border-radius: 8px;
  font-size: 16px;
  font-family: "PlusJakartaSans-SemiBold";
  color: var(--color-six);
  margin-bottom: 40px;
  width: 100%;
}

.otp-resend {
  margin-top: 12px;
  font-size: 14px;
}

#resend-otp-btn {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.fadeOut {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

.hidden-overflow {
  overflow-y: hidden;
}

.box {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}

.box.visible-ani {
  opacity: 1;
}

@keyframes animation1 {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes animation2 {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes animation3 {
  from {
    transform: translateX(50px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes animation4 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animation5 {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes animation6 {
  from {
    transform: translateY(-50px);
  }

  to {
    transform: translateY(0);
  }
}

.box.animation1.visible-ani {
  animation: animation1 1s forwards;
}

.box.animation2.visible-ani {
  animation: animation2 1s forwards;
}

.box.animation3.visible-ani {
  animation: animation3 1s forwards;
}

.box.animation4.visible-ani {
  animation: animation4 4s forwards;
}

.box.animation5.visible-ani {
  animation: animation5 1s forwards;
}

.box.animation6.visible-ani {
  animation: animation6 1s forwards;
}

/* Hamburger Menu */

.nav-icon2 {
  display: none;
}

.nav-icon2,
.nav-icon2-mobile {
  width: 23px;
  height: 23px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav-icon2 span,
.nav-icon2-mobile span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: var(--primary-color);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-icon2 span:nth-child(even),
.nav-icon2-mobile span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav-icon2 span:nth-child(odd),
.nav-icon2-mobile span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.nav-icon2 span:nth-child(1),
.nav-icon2 span:nth-child(2),
.nav-icon2-mobile span:nth-child(1),
.nav-icon2-mobile span:nth-child(2) {
  top: 0px;
}

.nav-icon2 span:nth-child(3),
.nav-icon2 span:nth-child(4),
.nav-icon2-mobile span:nth-child(3),
.nav-icon2-mobile span:nth-child(4) {
  top: 7px;
}

.nav-icon2 span:nth-child(5),
.nav-icon2 span:nth-child(6),
.nav-icon2-mobile span:nth-child(5),
.nav-icon2-mobile span:nth-child(6) {
  top: 14px;
}

.nav-icon2.open span:nth-child(1),
.nav-icon2.open span:nth-child(6),
.nav-icon2-mobile.open span:nth-child(1),
.nav-icon2-mobile.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-icon2.open span:nth-child(2),
.nav-icon2.open span:nth-child(5),
.nav-icon2-mobile.open span:nth-child(2),
.nav-icon2-mobile.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-icon2.open span:nth-child(1),
.nav-icon2-mobile.open span:nth-child(1) {
  left: 2px;
  top: 3px;
}

.nav-icon2.open span:nth-child(2),
.nav-icon2-mobile.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 3px;
}

.nav-icon2.open span:nth-child(3),
.nav-icon2-mobile.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.nav-icon2.open span:nth-child(4),
.nav-icon2-mobile.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.nav-icon2.open span:nth-child(5),
.nav-icon2-mobile.open span:nth-child(5) {
  left: 2px;
  top: 11px;
}

.nav-icon2.open span:nth-child(6),
.nav-icon2-mobile.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 11px;
}

.nav-menu {
  position: fixed;
  bottom: 0px;
  top: 0px;
  left: -100%;
  gap: 0;
  height: 100vh;
  background-color: var(--color-six);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-family: "Satoshi-Medium";
  font-size: 20px;
  gap: 40px;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 9999999999;
}

.nav-menu.active {
  left: 0;
}

.nav-menu-sect-one {
  display: flex;
  align-items: center;
  padding: var(--mobile-padding);
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.land-logo {
  height: 57px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.land-logo > img {
  width: 100%;
  height: 100%;
}
.privacy-hero {
  background: linear-gradient(
    0deg,
    rgba(20, 82, 202, 0.16) 2.44%,
    rgba(20, 82, 202, 0.48) 100%
  );
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
 
}
.privacy-hero h1{
  font-family: 'PlusJakartaSans-ExtraBold', sans-serif;
  color: #252525;
  font-size: 48px;
}
.privacy-hero p{
  font-family: 'PlusJakartaSans-Regular', sans-serif;
  color: #737373;
  font-size: 20px;
  text-align: center;
}
.privecy-contents{
  width: 100%;
  padding: 80px 240px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.privacy-section h1{
  font-family: 'PlusJakartaSans-SemiBold', sans-serif;
  font-size: 32px;
  color:#000000;
  margin-bottom: 16px;
}
.privacy-section p{
  font-family: 'PlusJakartaSans-Regular', sans-serif;
  font-size: 20px;
  color:#000000;
  line-height: 140%;
}

@media (max-width: 768px) {
  #otp-modal {
    display: none;
    justify-content: center;
    box-sizing: border-box;
    min-height: fit-content;
    align-items: center;
    overflow: hidden;
    margin-top: 70px;
    margin-bottom: 0;
    width: 100%;
  }
  
  .otp-inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0;
  }

  .otp-input {
    width: 25px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 8px;
  }
  .otp-container {
    height: fit-content;
    width: 100%;
  }
  .privecy-contents{
    padding: 40px 16px;
  }
  .privacy-hero h1{
    font-size: 24px;
  }
  .privacy-hero {
    height: 240px;
  }
  .privacy-hero p{
    font-size: 12px;
  }
  .privecy-contents{
    gap: 16px;
  }
  .privacy-section h1{
    font-size: 16px;
  }
  .privacy-section p{
    font-size: 12px;
  }
}
